<%= form_tag charges_path do %>
  <article>
    <label class="info">
      <span>Testing Stripe Checkout custom integration with multiple buttons</span>
    </label>
  </article>
  
  
  <script src="https://checkout.stripe.com/checkout.js"></script>


  <button id="customButton1">Monthly</button>
  <button id="customButton2">Lifetime</button>

  <script>
    var handler1 = StripeCheckout.configure({
      key: 'pk_test_4ZzD3dUkMiTnVLpwymISz9Uf',
      image: '',
      token: function(token) {

        $.ajax({
          type: "POST",
          url: "/charges",
          data: { stripeToken: token.id, stripeEmail: token.email, plan: 'monthly' }
        })
        .done(function( msg ) {
            alert( "Server response: " + msg );
        });

      }
    });

    var handler2 = StripeCheckout.configure({
      key: 'pk_test_4ZzD3dUkMiTnVLpwymISz9Uf',
      image: '',
      token: function(token) {

        $.ajax({
          type: "POST",
          url: "/charges",
          data: { stripeToken: token.id, stripeEmail: token.email, plan: 'lifetime' }
        })
        .done(function( msg ) {
            alert( "Server response: " + msg );
        });

      }
    });

    document.getElementById('customButton1').addEventListener('click', function(e) {
      handler1.open({
        name: 'Demo Site',
        description: 'Monthly Subscription',
        panelLabel: "Subscribe $20/month"
      });
      e.preventDefault();
    });

    document.getElementById('customButton2').addEventListener('click', function(e) {
      handler2.open({
        name: 'Demo Site',
        description: 'Lifetime Subscription',
        amount: 50000
      });
      e.preventDefault();
    });


  </script>
  <% end %>